/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: Courier, "sans-serif";
}
body {
  width: 1200px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  body {
    width: 100%;
    margin: 0 auto;
  }
}
div.top-row {
  background-color: #34515e;
}
div header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0 20px 0;
}
@media (max-width: 500px) {
  div header {
    width: 100%;
  }
}
div header a {
  text-decoration: none;
  color: azure;
}
.below-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  background-color: #00675b;
}
.below-header img {
  width: 25%;
  height: 25%;
  margin: 10px 0 10px 10px;
}
.below-header div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.below-header div h1 {
  font-size: 30px;
  font-weight: bold;
  background-color: #8eacbb;
  width: 80%;
  text-align: center;
}
@media (max-width: 500px) {
  .below-header div h1 {
    margin-top: 30px;
  }
}
.below-header div p {
  margin: 20px 40px 40px 40px;
  background-color: #8eacbb;
  width: 90%;
  vertical-align: middle;
  text-align: center;
}
section.two {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0 50px 0;
  background-color: #009688;
}
section.two div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  background-color: #8eacbb;
  padding-left: 25px;
  padding-right: 25px;
}
section.two div h2 {
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: bold;
}
section.two div ul {
  text-align: center;
  padding-bottom: 30px;
}
div.style {
  background-color: #00675b;
  padding: 30px 0 30px 0;
}
div.style h2 {
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  width: 50%;
  background-color: #8eacbb;
}
div.style div.table {
  background-color: #8eacbb;
  width: 60%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  div.style div.table {
    width: 100%;
  }
}
div.style div.table table {
  width: 100%;
  height: 50px;
  border: 1px solid black;
}
div.style div.table table tr {
  border: 1px solid black;
}
div.style div.table table tr th {
  border: 1px solid black;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
}
div.style div.table table tr td {
  border: 1px solid black;
  text-align: center;
  padding: 15px;
}
div.bot-style {
  background-color: #34515e;
}
section.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin: 0px 0 30px 10px;
  padding-top: 30px;
}
section.contact h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 10px 0;
  color: azure;
}
section.contact span {
  margin: 0 0 10px 0;
  color: azure;
}
footer {
  width: 100%;
  text-align: center;
  color: azure;
}
